<div class="login-container" fxLayoutAlign="center center">

    <div *ngIf="loading$ | async">
        <mat-spinner diameter="60"></mat-spinner>
    </div>

    <div *ngIf="!(loading$ | async)" class="login-container-wrapper" fxLayout="column"
        fxLayoutAlign="space-evenly center">

        <img src='https://is2-ssl.mzstatic.com/image/thumb/Purple124/v4/7d/0e/13/7d0e1372-d04f-29b1-88aa-9f9e729983a7/source/256x256bb.jpg'
            alt="">

        <app-user-form btn="LOGIN" (buttonClick)="login($event)"></app-user-form>

    </div>

</div>