<div class="home-container w100" fxLayout="column">

    <nav fxFlex="5" class="w100" fxLayout="row" fxLayoutAlign="space-between center">

        <span fxFlex="10" fxLayoutAlign="center center">
            <mat-icon (click)="settingData()">settings</mat-icon>
        </span>

        <span fxFlex="10" fxLayoutAlign="center center">
            <mat-icon (click)="logout()">exit_to_app</mat-icon>
        </span>

    </nav>

    <main fxFlex="95" fxLayoutAlign="center center">
        Hello {{currentUser?.name}}! <br>
        Nice to meet you!
    </main>
</div>